<div class="modal fade" id="theModal" tabindex="-1" role="dialog" aria-labelledby="theModalLabel">
    <div class="modal-dialog largeWidth" role="document">
      <div class="modal-content">
           
           <!--  Modal Header  -->
           <div class="modal-header">
              <h4 class="modal-title" id="theModalLabel" #headerTitle> Modal Title</h4>
            </div>
         
           <!--  Modal Body  -->
             <div class="modal-body" #theBody></div>
         
         <!--  Modal Footer  -->
         <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal" (close)="close()">Close</button>
         </div>

      </div>
     </div>
  </div>